html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 10px 20px; }

:root {
  --orange: #ff6813;
  --darkGrey: #5c5b5b;
  --lightGrey: #b6b6b6;
  --whiteGrey: #f2f2f2;
  --borderGrey: #e6e6e6;
  --fontGrey: #2d2d2d;
  --endColor: #3f4b5d; }

modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; }
  modal .overlay.false {
    display: none; }
  modal .overlay.true {
    display: block; }

modal .wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0; }
  modal .wrapper.false {
    display: none; }
  modal .wrapper.true {
    display: block; }
  modal .wrapper .inner {
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 5px;
    width: 58vw;
    height: 90vh;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 3vh 2vh;
    overflow-y: scroll;
    -ms-overflow-style: none; }
    modal .wrapper .inner::-webkit-scrollbar {
      display: none; }
    @media screen and (max-width: 576px) {
      modal .wrapper .inner {
        width: 95vw;
        min-width: 250px; } }
    @media screen and (max-width: 720px) {
      modal .wrapper .inner {
        width: 90vw; } }

@font-face {
  font-display: swap;
  font-family: 'Kyobo';
  src: url("../../fonts/KyoboHandwriting2019.woff2") format("woff2"), url("../../fonts/KyoboHandwriting2019.woff") format("woff"), url("../../fonts/KyoboHandwriting2019.otf") format("opentype"); }

* {
  font-family: 'Kyobo' !important; }

navigator {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 576px) {
    navigator {
      min-width: 250px; } }
  navigator div {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange); }
  navigator img {
    width: 2rem;
    height: 2rem;
    filter: invert(64%) sepia(40%) saturate(0%) hue-rotate(126deg) brightness(92%) contrast(88%);
    cursor: pointer; }

calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  calendar .daybar {
    margin-top: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGrey);
    color: white;
    height: 3vh;
    width: 90%;
    font-size: 0.9rem; }
    @media screen and (max-width: 576px) {
      calendar .daybar {
        display: none; } }
    calendar .daybar > li {
      height: 100%;
      width: calc(100% / 7);
      display: flex;
      justify-content: center;
      align-items: center; }
      calendar .daybar > li:not(:last-child) {
        border-right: 1px solid white; }
  calendar .day-wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--borderGrey); }
    calendar .day-wrapper .day {
      width: calc(100% / 7);
      min-height: 14vh;
      text-align: center;
      border-style: solid;
      border-color: var(--borderGrey);
      border-width: 0 1px 1px 0; }
      @media screen and (max-width: 576px) {
        calendar .day-wrapper .day {
          width: 100%;
          min-width: 250px; } }
      calendar .day-wrapper .day .day-header {
        color: var(--darkGrey);
        background-color: var(--whiteGrey);
        padding: 0.5vh; }
      calendar .day-wrapper .day .job-wrapper {
        color: var(--fontGrey);
        padding: 0.5vh;
        text-align: left; }
        calendar .day-wrapper .day .job-wrapper .job {
          display: flex;
          margin: 0.5vh 0;
          font-size: 1.5vh;
          align-items: center;
          cursor: pointer; }
        calendar .day-wrapper .day .job-wrapper .status {
          font-size: 0.9vh;
          width: 1.5vh;
          height: 1.5vh;
          color: white;
          border-radius: 3px;
          font-weight: bold;
          margin-right: 0.3vh;
          display: flex;
          justify-content: center;
          align-items: center; }
          calendar .day-wrapper .day .job-wrapper .status.S {
            background-color: var(--orange); }
          calendar .day-wrapper .day .job-wrapper .status.E {
            background-color: var(--endColor); }

modal-content .head {
  display: flex;
  padding-bottom: 2vh;
  border-bottom: 1px solid var(--lightGrey); }
  modal-content .head .logo {
    max-width: 8vw;
    margin-right: 2.7%; }
  modal-content .head .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    modal-content .head .info .name {
      font-size: 1.3vw;
      margin-bottom: 2vh; }
    modal-content .head .info .time-wrapper {
      display: flex;
      align-items: center; }
      modal-content .head .info .time-wrapper .time {
        font-size: 1.1vw;
        margin-right: 0.5vw; }
      modal-content .head .info .time-wrapper .diff {
        font-size: 1.1vw;
        color: var(--orange); }

modal-content .content {
  text-align: center;
  padding-top: 1.5vh; }
  modal-content .content img {
    width: 53vw !important; }

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh; }
  .notfound div {
    font-weight: bold;
    font-size: 35px;
    color: var(--orange);
    margin-bottom: 20px; }
  .notfound img {
    width: 300px;
    height: 300px; }
