html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 10px 20px; }

:root {
  --orange: #ff6813;
  --darkGrey: #5c5b5b;
  --lightGrey: #b6b6b6;
  --whiteGrey: #f2f2f2;
  --borderGrey: #e6e6e6;
  --fontGrey: #2d2d2d;
  --endColor: #3f4b5d; }

home-header {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 576px) {
    home-header {
      min-width: 250px; } }
  home-header div {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange); }
  home-header img {
    width: 2rem;
    height: 2rem;
    filter: invert(64%) sepia(40%) saturate(0%) hue-rotate(126deg) brightness(92%) contrast(88%);
    cursor: pointer; }
