<ul class="daybar">
    <li>일</li>
    <li>월</li>
    <li>화</li>
    <li>수</li>
    <li>목</li>
    <li>금</li>
    <li>토</li>
</ul>
<div class="day-wrapper">
    <div class="day" ng-repeat="item in state.calendarData track by $index">
        <div class="day-header">{{item.date}}</div>
        <ul class="job-wrapper">
            <li class="job" ng-repeat="job in item.jobs" ng-click="$parent.$parent.handleJobClick(job)">
                <div class="status {{job.status}}">{{status(job.status)}}</div>
                <div>{{job.name}}</div>
            </li>
        </ul>
    </div>
</div>

