<div class="head">
    <img class="logo" alt="logo" ng-src="{{homeCtrl.state.selectedJob.image}}"></img>
    <div class="info">
        <div class="name">{{homeCtrl.state.selectedJob.name}}</div>
        <div class="time-wrapper">
            <div class="time">{{homeCtrl.translateDate(homeCtrl.state.selectedJob.start_time)}} ~ {{homeCtrl.translateDate(homeCtrl.state.selectedJob.end_time)}}</div>
            <div class="diff">{{homeCtrl.getTimeDiff(homeCtrl.state.selectedJob.end_time)}}</div>
        </div>
    </div>
</div>
<div class="content" ng-bind-html="homeCtrl.state.selectedJob.content"></div>